controller.exe
controller.data
controller.js
controller.html
controller.wasm
*__pycache__*
*.png
#*.bvh
*.log
resources/runs*
resources/input-recording

local/
build/

database.bin
database_small.bin
database_big.bin
database_history.bin


database.csv
database_small.csv
database_big.csv
database_history.csv

build_features.exe

.vscode/
.cursor/
runs/
score/